body {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  margin: auto;
  padding: auto;
  background-color: #e9fdfc;
  font-family: "lato", "arial";
}

button,
.link {
  display: inline-block;
  padding: 0.5em;
  margin: 0.5em;
  border: none;
  border-radius: 50vw;
  font-weight: bold;
  background-color: #3f6182;
  text-decoration: none;
  color: #e9fdfc;
  letter-spacing: 0.1rem;
  font-size: large;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
}
button:after,
.link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50vw;
  z-index: -2;
}
button:before,
.link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ff584d;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
button:hover,
.link:hover {
  color: #e9fdfc;
}
button:hover:before,
.link:hover:before {
  width: 100%;
}

.button-red {
  background-color: #ff584d;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #9ec8db;
}
header img {
  width: 40%;
  margin-left: 1rem;
  color: #3f6182;
  padding: 1em;
}
header .nav_bar {
  display: flex;
  align-items: center;
}

.index {
  display: flex;
  max-width: 1440px;
  margin-top: 5em;
  justify-content: space-between;
}
.index .posts {
  display: block;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}
.index .posts .post {
  margin: 10px;
  background-color: #9ec8db;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 500px;
}
.index .posts .post .user_pub {
  display: flex;
  border-radius: 15px 15px 0px 0px;
  background-color: #9ec8db;
  padding-top: 20px;
  color: #3f6182;
}
.index .posts .post .user_pub .p {
  width: 100px;
}
.index .posts .post .user_pub .user-info {
  display: flex;
  align-items: center;
}
.index .posts .post .user_pub .user-info .profil-picture {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.index .posts .post .user_pub .publication-info {
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.index .posts .post .pub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}
.index .posts .post .pub img {
  width: 100%;
  object-fit: cover;
}
.index .posts .post .buttons {
  display: flex;
  align-items: center;
  margin: auto;
}
.index .posts .post .buttons .like_dislike {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  background-color: #9ec8db;
  color: #3f6182;
}
.index .user-card .user-img {
  width: 100px;
}
.index .column {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 30%;
  color: #3f6182;
}
.index .column .users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.index .column .users .user {
  margin: 1em;
  border: 5px solid #9ec8db;
}

.createAndModify,
.modifyProfil {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  align-items: center;
  width: 40%;
  background-color: #9ec8db;
}
.createAndModify .blocks,
.modifyProfil .blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.createAndModify .blocks .block,
.modifyProfil .blocks .block {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  margin: 15px;
}
.createAndModify .blocks .block #title,
.createAndModify .blocks .block #message,
.createAndModify .blocks .block #imageUrl,
.createAndModify .blocks .block #email,
.createAndModify .blocks .block #name,
.modifyProfil .blocks .block #title,
.modifyProfil .blocks .block #message,
.modifyProfil .blocks .block #imageUrl,
.modifyProfil .blocks .block #email,
.modifyProfil .blocks .block #name {
  background-color: white;
  border: 3px solid;
  border-color: #3f6182;
  padding: 5px;
  cursor: pointer;
}
.createAndModify .blocks .block label,
.modifyProfil .blocks .block label {
  color: #3f6182;
  font-weight: bold;
}
.createAndModify .blocks .block img,
.modifyProfil .blocks .block img {
  width: 200px;
  margin-bottom: 10px;
}

.profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profil .profil-title {
  color: #3f6182;
}
.profil .profil-user .user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #3f6182;
  padding: 10px;
  margin: 10px;
}
.profil .profil-user .user-info img {
  width: 200px;
}
.profil .profil-modify {
  display: inline-block;
  padding: 0.5em;
  margin: 0.5em;
  border: none;
  border-radius: 50vw;
  font-weight: bold;
  background-color: #3f6182;
  text-decoration: none;
  color: #e9fdfc;
  letter-spacing: 0.1rem;
  font-size: large;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.profil .profil-modify:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50vw;
  z-index: -2;
}
.profil .profil-modify:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ff584d;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.profil .profil-modify:hover {
  color: #e9fdfc;
}
.profil .profil-modify:hover:before {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
