@import "./utils/variables";
@import "./utils/mixins";

body {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  margin: auto;
  padding: auto;
  background-color: $light;
  font-family: "lato", "arial";
}

button {
  @include button;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $medium;
  img {
    width: 30%;
  }
  .nav_bar {
    display: flex;
    align-items: center;
  }
}
