@import "./utils/variables";
@import "./utils/mixins";

body {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  margin: auto;
  padding: auto;
  background-color: $light;
  font-family: "lato", "arial";
}

button {
  @include button;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $medium;
  img {
    width: 40%;
    margin-left: 1rem;
    color: $dark;
    padding: 1em;
  }

  .nav_bar {
    display: flex;
    align-items: center;
  }
}

.index {
  display: flex;
  max-width: 1440px;
  margin-top: 5em;
  justify-content: space-between;

  .posts {
    @include posts;
  }

  .column {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 30%;
    color: $dark;
    .users {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .user {
        margin: 1em;
        border: 5px solid $medium;
      }
    }
  }
}
